/* SlotMachine.css */
.slot-machine-lever {
  width: 150px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.slot-machine-lever-handle {
  width: 60px;
  height: 20px;
  background: url('file:///F:/..%20Indra%20Anniv/LEVER.png') no-repeat center center; /* Set the background image */
  background-size: cover; /* Scale the background image to cover the element */
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

/* Add swinging animation */
@keyframes leverSwing {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  50% {
    transform: translateY(-50%) rotate(120deg);
  }
  100% {
    transform: translateY(-50%) rotate(0deg);
  }
}

.slot-machine-lever.lever-pulled .slot-machine-lever-handle {
  animation: leverSwing 0.5s ease-in-out;
}
