.ttt {
  border: 1px rgb(255, 255, 0) solid;
}

.tttt {
  border: 1px rgb(255, 0, 0) solid;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "CasinoFont";
  src: url(./font/Zantroke.otf);
}


@font-face {
  font-family: "CasinoFontWinner";
  src: url(./font/Casino3DFilled-Italic.ttf);
}

#root {
  height: 100vh;
}

body {
  background-color: rgb(170, 170, 170) !important;
}

.lottery-container {
  background-position: center;
  background-size: 100% 100%;


}

.lottery-container2 {
  position: absolute;


  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -1;

  box-shadow: inset 0px 0px 20px 5px rgba(255, 57, 57, 0.2);
  animation: shadows2 1.5s infinite;
}

@keyframes shadows2 {
  0% {
    box-shadow: inset 0px 0px 20px 5px rgba(255, 57, 57, 0.2);
  }

  50% {
    box-shadow: inset 0px 0px 20px 5px rgba(255, 176, 57, 0.2);
  }

  75% {
    box-shadow: inset 0px 0px 20px 5px rgba(255, 235, 57, 0.2);
  }

  100% {
    box-shadow: inset 0px 0px 20px 5px rgba(90, 255, 35, 0.2);
  }
}

.draw-button {
  width: 16rem;
  height: 4rem;
  font-weight: 900 !important;
}

.winner-list-button,
.reset-button {
  font-weight: 900 !important;
}

.text-randomizer {
  color: white;
  font-size: 5rem;
  font-weight: 550 !important;
  letter-spacing: 0.5;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.name-box {
  position: absolute;
  top: 55vh;
  /* left: calc(50vw - width); */
  z-index: 999;
  padding: 2rem;
  border-radius: 0px 0px 5rem 5rem;
  border: 10px dotted rgb(255, 198, 54);
  background-color: rgba(199, 18, 18, 1);
  min-width: 65%;
  max-width: 65%;
}

.h-40 {
  height: 40% !important;
}

.text-randomizer-name {
  text-align: center;
  font-family: CasinoFont, Calibri, sans-serif;
  color: white;
  font-size: calc(5em);
  font-weight: 650 !important;
  letter-spacing: 0.5rem;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 999;
}

.logo-slot-machine2 {
  /* transform: rotate(-10deg) !important; */
  position: absolute;
  top: 48%;
  left: 15%;
  z-index: 888;
  height: 35%;
  width: 30%;
  z-index: 1000;
}

.logo-slot-machine3 {
  /* transform: rotate(10deg); */
  position: absolute;
  top: 47%;
  left: 55%;
  z-index: 888;
  height: 40%;
  width: 35%;
  z-index: 1000;
}

.border-radius-button {
  border-radius: 0px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.reel-background2 {
  background: url('./images/slot machine thing and lucky 28 logo 2.png') no-repeat center center;
  background-size: 140vh;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  z-index: 10;
  position: absolute;
  pointer-events: none;
}

.logo-slot-machine {
  position: absolute;
  top: 43%;
  left: 14%;
  z-index: 888;
  height: 65%;
  width: 70%;
}

.reel-container {
  background-color: rgba(255, 212, 41, 0.0);
  z-index: 55;
}

.machine-char {
  font-family: CasinoFont, Calibri, sans-serif;
  width: 16vh;
  height: 37vh !important;
  background: #eeeeee;
  box-shadow: 0px 0px 5px 5px #48abe0;
  animation: shadows 1.5s infinite;
  border-top: #bb7b2b solid 6px;
  border-bottom: #fed78e solid 7px;
  border-left: #e2bd7a solid 10px;
  border-right: #fed78e solid 10px;
  color: rgb(211, 1, 1);
  font-size: 5em;
  font-weight: 550 !important;
  letter-spacing: 0.5;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 1vh;
}

@keyframes shadows {
  0% {
    text-shadow: #48abe0 0 0 10px;
    box-shadow: 0px 0px 20px 5px #48abe0;
  }

  50% {
    text-shadow: blueviolet 0 0 10px;
    box-shadow: 0px 0px 20px 5px blueviolet;
  }

  75% {
    text-shadow: rebeccapurple 0 0 10px;
    box-shadow: 0px 0px 20px 5px rebeccapuprle;
  }

  100% {
    text-shadow: #48abe0 0 0 10px;
    box-shadow: 0px 0px 20px 5px #48abe0;
  }
}

.machine-value {
  top: 50%;
  font-family: CasinoFont, Calibri, sans-serif;
}

.machine-sep {
  padding: 0 50px;
}

/*lever*/
/* SlotMachine.css */
.slot-machine-lever {
  position: relative;
  cursor: pointer;
}

.slot-machine-lever-handle {
  background: url('./images/RedLever2.png') no-repeat center center;
  /* Set the background image */
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  /* Scale the background image to cover the element */
  position: absolute;
  top: 40%;
  left: 0%;
  transform: translateY(-50%);
  transform-origin: left center;
}

/* Add swinging animation */
@keyframes leverSwing {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  50% {
    transform: translateY(-50%) rotate(30deg);
  }

  100% {
    transform: translateY(-50%) rotate(0deg);
  }
}

.slot-machine-lever.lever-pulled .slot-machine-lever-handle {
  animation: leverSwing 0.5s ease-in-out;
}

.w-60 {
  width: 60% !important;
}

.w-80 {
  width: 80% !important;
}

.w-30 {
  width: 30% !important;
}

.w-70 {
  width: 70% !important;
}

.h-80 {
  height: 80% !important;
}